@charset "UTF-8";


.container-tap-menu{
    margin-top:150px;
}

.container-tap-menu > div > ul > li > a{
    width:200px;
    height:60px;
    text-align: center;
    font-size: 20px;
    transition: background-color 0.3s;
}
.tab-content > .active {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:100px;
    text-align: center;
}

@keyframes eventAnimationUp{
    0%{
        transform: translateY(-300px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes eventAnimationDown{
    0%{
        transform: translateY(300px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
    }
}

#event.active > div{
    display: block;
    width:350px;
    margin-left:20px;
}
#event.active > div:nth-child(2n-1){
    animation-name: eventAnimationUp;
    animation-duration: 1s;
}
#event.active > div:nth-child(2n){
    animation-name: eventAnimationDown;
    animation-duration: 1s;
    margin-top:100px;
}

#event.active > div > div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ev-img{
    background-color: aqua;
    height:400px;
    border-radius: 20px;
}

.ev-disc{
    background-color: burlywood;
    height:400px;

}
#faq.active > div{
    margin-left:100px;
    width:60%;
}
#faq > div > div >div{
    transition: height 0.2s;
}